%h1{style: 'text-decoration: italic; font-weight: normal; text-align: center;'} Welcome!
%h2{style: 'text-align: center; color: grey;font-weight: normal; '}
  Please find the service
  %strong
    Report Card
  attached for your vehicle. If you have any questions or concerns please don’t hesitate to contact your Service Advisor for any additional details. On behalf of the staff at #{@dealership.try(:title) || t('brand.name')}, it has been a pleasure to serve you.
