.container-fluid
  .col-md-12.nopadding{:style => "margin-top:10px;"}
    .col-md-6.title
      %h2
        VEHICLE
        %span{:style => "font-weight:bold;"} REPORT CARD
    .col-md-6
      .col-md-12
        .col-md-8.title_right{:style => "border-right:2px solid #517399"}
          %img{:src => "images/logo/ford.jpg"}/
        .col-md-4.title
          %p
            FORD
            %span{:style => "font-weight:bold;"} SERVICE
  .col-md-12
    .col-md-12.bar_ttl
      %p MULTI POINT INSPECTION AS RECOMMENDED BY FORD MOTOR COMPANY